<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tea Leaf Diseases Detection</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Tea Leaf Disease Detection</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Precautions">prediction</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Test">Test</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">TEA LEAF DISEASE DETECTION</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">TEA LEAF DISEASE ANALYISES</p>
                        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Glance</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Tea, as a perennial crop under the monoculture system, stands in the environment for years and experiences numerous agronomic practices throughout its lifespan. The tea plant encounters many seasonal (blister blight, gray blight, and brown blight) as well as perennial diseases (canker and wood rots) during its lifespan. In annual crops, diseases are managed by tillage, rotation, and delayed seeding/sowing that disrupt the disease cycle. However, such practices are not feasible for the perennial tea system. The occurrence of disease, extent of damage caused, and the strategies adopted for disease management are generally specific for each tea-growing country. Integrated disease management (IDM), including the use of cultural, chemical, and biological methods and host plant resistance, practiced in the global tea industry, is discussed here.</p>
                        <a class="btn btn-light btn-xl" href="#Test">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Precautions-->
        <section class="page-section" id="Precautions">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">MODELS EMPLOYEED FOR THE PROJECTS</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-mask fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">VGG16</h3>
                            <p class="text-muted mb-0">VGG-16 is a convolutional neural network that is 16 layers deep. You can load a pretrained version of the network trained on more than a million images from the ImageNet database.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-hand-thumbs-up-fill fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">RESNET50</h3>
                            <p class="text-muted mb-0">ResNet-50 is a convolutional neural network that is 50 layers deep. You can load a pretrained version of the neural network trained on more than a million images from the ImageNet database.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-people fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">INCPECTIONV3</h3>
                            <p class="text-muted mb-0">Inception-v3 is a convolutional neural network that is 48 layers deep. You can load a pretrained version of the network trained on more than a million images from the ImageNet database.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">XCEPTION</h3>
                            <p class="text-muted mb-0">Xception is a convolutional neural network that is 71 layers deep. You can load a pretrained version of the network trained on more than a million images from the ImageNet database </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Vaccinations-->
        
        <!-- Call to action-->
        <section class="page-section bg-secondary text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">To know more about our products</h2>
                <a class="btn btn-light btn-xl" href="https://smartinternz.com/">Click here</a>
            </div>
        </section>
		<br>
       <!-- test-->
       <center>
        <section id="Test">
        <div class="prediction-input">
        <div class="circle">
        </div>
                <form id="form" action="/result" method="post"  enctype="multipart/form-data">
                    <input type="file" id="imageupload"  name="image" accept="image/*" class="input-image">
                  <input type="submit" class="submitbtn">
                  </form>
            </div>
			<br>
           
		  

                 
</br>
              
    </section>
               

        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - SmartBridge</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script>
            function jump(h){
                var url = location.href;               //Save down the URL without hash.
                location.href = "#"+h;                 //Go to the target element.
                
            }
            jump({{ anchor }});
        </script>
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="D:/rahul pro/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        
        
		
    </body>
</html>
